.grid-container { 
display: grid; 
min-height: 100vh; 
background-color: aqua;
} 
.grid-container { 
display: grid; 
min-height: 100vh; 
grid-template-areas:  
"header header" 
"sidebar content" 
"footer footer"; 
grid-template-columns: 200px 1fr;
grid-template-rows: auto 1fr auto; 
}
.Header {
  grid-area: header;
  background-color: aqua;
 
}

.Sidebar {
  grid-area: sidebar;
  background-color: beige;
  
}

.Content {
    margin: 0px;
  grid-area: content;
  background-color: rgb(255, 255, 255);
  
  
}

.Footer {
  grid-area: footer;
  background-color: coral;
  
}
body{
    margin:0;
}
.navbar{

    list-style-type: none;   
    margin: 0;
    padding: 0;

    display: flex;            
    justify-content:left;  
    background-color:rgb(0, 0, 0);
    
} 
.navbar li{
    list-style-type: none;
}
.navbar a{
    display: block;
    padding: 14px 20px;
    color: white;   
    text-decoration: none;
    
}
.navbar a:hover {
    background-color:rgb(255, 255, 255);
    color: black;
}



.Sidebar{
    list-style-type: none;   
    margin: 0;
    padding: 0;

    display: flex;            
    justify-content: left;  
    background-color:rgb(255, 94, 0);
}
.Sidebar li{
    list-style-type:none;}
.Sidebar a{
    margin-left: 0px;
     display: block;
    padding: 20px 20px;
    padding-left:0px;
    color: white;   
    text-decoration: none;
}
.material-symbols-outlined {
  font-size: 16px !important;
}
.Sidebar a:hover {
    background-color:rgb(255, 255, 255);
    color: black;
}
.product-gallery { 
    display: flex;       
    flex-wrap: wrap;     
    justify-content: space-around; 
}
figure {
  margin: 10px;
  text-align: center;
}

figure img {
  display: block;
  width: 200px;
}

figcaption {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  color: black;
}
.Content h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  font-size: 28px;
  color: rgb(0, 0, 0); 
}