.grid-container { 
display: grid; 
min-height: 100vh; 
background-color: aqua;
} 
.grid-container { 
display: grid; 
min-height: 100vh; 
grid-template-areas:  
"header header" 
"sidebar content" 
"footer footer"; 
grid-template-columns: 250px 1fr;
grid-template-rows: auto 1fr auto; 
}
.Header {
  grid-area: header;
  background-color: aqua;
  padding: 20px;
}

.Sidebar {
  grid-area: sidebar;
  background-color: beige;
  padding: 20px;
}

.Content {
  grid-area: content;
  background-color: darkcyan;
  padding: 20px;
  color: white;
}

.Footer {
  grid-area: footer;
  background-color: coral;
  padding: 20px;
}