*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-container{
    display:grid;
    min-height: 100vh;
    background-color: aqua;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;

}
.header{
    font-weight: bold;
    grid-area:header;
    background-color: rgb(0, 0, 0);
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.sidebar{
    grid-area:sidebar;
    background-color: rgb(255, 255, 255);
    padding:10px;
}
.content{
    grid-area:content;
    background-color: rgb(255, 255, 255);
    padding: 20px;

}
.footer{
    grid-area: footer;
    background-color: black;
    padding:20px;
}
.nav-bar {
    
    display: flex;
    
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    
}

.nav-bar a:hover {
  font-size: 15px;
}
.logo img {
    
   
    width: 180px;
    
}
 .head {
    font-weight: bold;
    font-size:65px;
    
    max-width: 900px;
    margin-top:200px;
}
.subhead{
   font-size: 22px;
   margin-top: 10px;
}
.content button{
    font-weight: bold;
    font-size: 35px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 42px;
    padding:18px 18px;
    margin-left: 150px;
}
.content button:hover{
    background-color: white;
    color: black;
}
.content img{
    width: 600px;
}
.subhead-wrapper {
    display: flex;             
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 0px;
    background-color: rgb(230, 230, 230);
    margin-right: 300px;
    border-radius: 30px;
}
.subhead-wrapper img{
    padding: 80px;
    width:800px;
    height: auto;
    margin-right:0 ;
}
.subhead-wrapper p{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left:150px ;
    
}
.subhead-wrapper button{
   
}
.subhead-wrapper button:hover{
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* shadow on hover */
    transform: translateY(-3px); /* optional: lift the button slightly */
}

.promo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 50px;
    margin-right: 300px;
}
.promo-card {
    border-radius: 25px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    overflow: hidden;
}
.promo-text span {
    font-size: 18px;
    opacity: 0.9;
}

.promo-text h2 {
    font-size: 32px;
    margin: 10px 0;
}

.promo-text button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color: black;
}
.promo-card img {
    width: 150px;
    height: auto;
}
.red {
    background-color: #302f2f;
}

.light {
    background-color: #f1f2f6;
    color: black;
}

.green {
    background-color: #000000;
}
.promo-head {
    color: black;
    font-size: 50px;
    margin-top:40px;
    margin-bottom: 80px;
    font-weight: bold;
}