
body{
    margin:0;
}
.navbar{

    list-style-type: none;   
    margin: 0;
    padding: 0;

    display: flex;            
    justify-content: center;  
    background-color:black;
    
} 
.navbar li{
    list-style-type: none;
    
}
.navbar a{
    display: block;
    padding: 14px 20px;
    color: white;   
    text-decoration: none;
    
}
.navbar a:hover {
    background-color:rgb(255, 255, 255);
    color: black;
}
.navbar { 
flex-direction: column; 
} 
.navbar li { 
width: 100vw; 
text-align: center; 
} 
